body{
background-color: #EEF5FF;
font-family: 'Nunito';
}

.intro{
    display: flex;
    margin-left: 40px;

}
.displayImage{
    margin-left: 100px;
    width: 514px;
    height: 640px;
}
.logo{
    margin-left: 25px;
}
.logo h2{
    font-size: 48px;
    width: 600px;
}
.buttons{
    display: flex;
}
.bookAppointment button{
    background-color: #204289;
    width: 243px;
    height: 54px;
    border-radius: 15px;
    padding: 5px;
    color: #FFFFFF;
    margin-right: 15px;
    font-size: 24px;
    border: none;
    margin-left: 5px;
}
.watchbtn{
    margin-top: 15px;
}
.watchbtn i{
    font-size: 25px;
}
.comment{
    display: flex;
    margin-left: 60px;
}

.textComment{
    font-size: 34px;
    margin-left: 50px;
    margin-top: 40px;

}
.textComment p{
    color: #4d4e4f;
    width: 650px;
    margin-left: -5px;
}


.textComment i{
color:#204289 ;
}

.callbtn{
    margin-top: 300px;
    background-color: #FFFFFF;
    border-radius: 50px;
    height: 60px;
    width: 320px;
    padding-top: 20px;
    padding-right: 10px; 
    padding-left: 30px;
    margin-left: -200px;
    display: flex;

}

.contact h3{
    margin-top: 5px;
    margin-left: 25px;
    font-size: 25px;
    
}

.phone i{
    margin-top: 10px;
    margin-left: 10px;
    background-color: #E24747;
    color: #FFFFFF;
    border-radius: 50px;
    width: 50px;
    height: 35px;
    text-align: center;
    padding-top: 15px;
}

.circle{
    background-color: #FBE7E7;
    color: #FFFFFF;
    border-radius: 50px;
    width: 70px;
    height: 70px;
    margin-top: -15px;
    margin-left: -5px;
}

.bluePart{
    background-color: #204289;
    height: 140px;
    display: flex;
    margin-top: -6px;
}

.services{
    display: flex;
    margin-left: 30px;    
   
}

.service h3{
    font-size: 22px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-right: 20px;
}

.serviceIcon i{
    color: #FFFFFF;
    font-size: 22px ;
    margin-top: 35px;
    margin-left: 20px;
    margin-top: 50px;

}
.iconOne{
    margin-right: 35px;
}
/* end of first section */

/* start of second section */
.second_section{
    margin-left: -50px;
    margin-top: 10px;
    background-color: #FFFFFF;
    height: auto;
    padding-top: 50px;
    padding-bottom: 150px;
}
.second_section img{
    width: 450px;
}
.second_section h2, p, button{
    margin-left: 80px;
}
.second_button{
    margin-left: 80px;
}
/* end of second section */

/* start of third section */
.third_section{
    margin-top: 80px;
    margin-left: 50px;
}
.third_section img{
    margin-top: -200px;
    margin-left: 120px;
}
.third_section p{
    margin-left:  1px;
}
.third_button{
    margin-left: -1px;
}
.dentalService_text{
    text-align: center;
}
.dentalService_icon{
    display: flex;
    justify-content: center;
    margin-left: 170px;
    margin-top: 60px;
}
.dentalService_icon img{
    text-align: center;
    margin-right: 200px;
    font-size: 60px;
    color: #204289;
}
.dentalService_icon h3{
    margin-left: -20px;
}

.dot-sec{
    display: flex;
    justify-content: center;
    font-size: 10px;
    margin-top: 40px;
}
.dot-sec i{
    margin-right: 10px;
}
.active a{
    color: #204289;
}
.inactive a{
    color: gray;
}
.inactive a:hover {
    color: #2657c2;
}
.dot_left{
    font-size: 20px;
    margin-top: -5px;
}
.dot_right{
    font-size: 20px;
    margin-top: -5px;
}
/* end of third section */

/* start of appointment container */

.appointment_container{
    background-color: white;
}

.appointment_text{
    text-align: center;
    background-color: #E24747;
    padding: 10px -40px;
}
.doctor_container {
    display: flex;
    justify-content: center;
}
.doctor_container img{
    width: 300px;
    margin-inline: 50px;
}
.doctor_container h3, h4{
    text-align: center;
    font-size: 30px;
}
.doctor_container h4{
    color: gray;
    margin-top: -32px;
}
.doc_img_2{
    margin-top: 300px;
}
.doc_img_3{
    margin-top: 600px;
}
